@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway&display=swap);

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: black;
  color: white;
  font-family: 'Abril Fatface', cursive;
  padding-left: 20px;
  padding-right: 20px;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

.clicked-country {
  stroke: navy;
  fill: lightblue;
}

.modal {
  background-color: white;
  position: fixed;
  top: 30%;
  left: 20%;
  height: 80%;
  width: 80%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 101;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}
